extends layout

include mixins/_pageH1

block content
  +pageH1(title)
  //-pre= JSON.stringify(basket)
  if basket.length !== 0
    form(action="/order" method="POST").mb-4
      fieldset
        legend Оформить заказ
        .row.form-group
          label.col-12.col-md-2(for="input_lastname") Фамилия
          input.col-12.col-md-10.col-lg-2(type="text" name="lastname" id="input_lastname" value="Иванов" required)
          label.col-12.col-md-2(for="input_firstname") Имя
          input.col-12.col-md-10.col-lg-2(type="text" name="firstname" id="input_firstname" value="Иван" required)
          label.col-12.col-md-2(for="input_patronymic") Отчество
          input.col-12.col-md-10.col-lg-2(type="text" name="patronymic" id="input_patronymic" value="Иванович" required)
        .row.form-group
          label.col-12.col-md-2(for="input_phone") Мобильный телефон
          input.col-12.col-md-10(type="tel" name="phone" id="input_phone" value="+380123456789" required)
        .row.form-group
          label.col-12.col-md-2(for="input_address") Адрес доставки
          textarea.col-12.col-md-10(type="text" name="address" id="input_address" required)
            .
              Нигде, г. Нигде, пр. Никакой 13/37
        .row.form-group
          label.col-12.col-md-2(for="input_comments") Комментарии к заказу
          textarea.col-12.col-md-10(type="text" name="comments" id="input_comments") Тестовый заказ
        h4
          button.btn.btn-primary.mr-2(type="submit") Заказать
          = sum+' грн.'
  if basket.length === 0
    p
      | Здесь пока пусто... Наведайтесь в 
      a(href="/catalogue") Каталог
      |  и закажите что-нибудь ;)
  each p in basket
    .row.border.text-center
      .col-sm-12.col-md-5
        img.img-thumbnail(src="https://via.placeholder.com/350x150")
      .col-sm-12.col-md-4
        a(href=`/products/${p.id}`)
          h4= p.name
        h5= p.cost+' грн.'
        p= h.cutString(p.description,100)
      .col-sm-12.col-md-3
        h4= p.quantity+' шт. = '+p.price+' грн.'
        //-h2.text-center= 
        form(method="POST" action="/basket/remove")
          button.btn.btn-outline-danger Удалить
          input(type="hidden" name="product_id" value=p.id)