extends layout

include mixins/_pageH1

block content
  +pageH1(title)
  //-pre= JSON.stringify(cart)
  if cart.length !== 0
    form(action="/order" method="POST").mb-4
      fieldset
        legend Оформить заказ
        .row.form-group
          label.col-12.col-md-2(for="input_lastname") Фамилия
          input.col-12.col-md-10.col-lg-2#input_lastname(type="text" name="lastname" value="Иванов" required autofocus)
          label.col-12.col-md-2(for="input_firstname") Имя
          input.col-12.col-md-10.col-lg-2#input_firstname(type="text" name="firstname" value="Иван" required)
          label.col-12.col-md-2(for="input_patronymic") Отчество
          input.col-12.col-md-10.col-lg-2#input_patronymic(type="text" name="patronymic" value="Иванович" required)
        .row.form-group
          label.col-12.col-md-2(for="input_phone") Мобильный телефон
          input.col-12.col-md-10#input_phone(type="tel" name="phone" value="+380123456789" required)
        .row.form-group
          label.col-12.col-md-2(for="input_address") Адрес доставки
          textarea.col-12.col-md-10#input_address(type="text" name="address" required)
            .
              Нигде, г. Нигде, пр. Никакой 13/37
        .row.form-group
          label.col-12.col-md-2(for="input_details") Комментарии к заказу
          textarea.col-12.col-md-10#input_details(type="text" name="details") Тестовый заказ
        h4
          button.btn.btn-primary.mr-2(type="submit") Заказать
          = sum+' грн.'
  if cart.length === 0
    p
      | Здесь пока пусто... Наведайтесь в 
      a(href="/catalogue") Каталог
      |  и закажите что-нибудь ;)
  each p in cart
    .row.border.text-center
      .col-sm-12.col-md-5
        img.img-thumbnail(src="https://via.placeholder.com/350x150")
      .col-sm-12.col-md-4
        a(href=`/products/${p.id}`)
          h4= p.name
        h5= p.cost+' грн.'
        p= h.cutString(p.description,100)
      .col-sm-12.col-md-3
        h4= p.quantity+' шт. = '+p.price+' грн.'
        //-h2.text-center= 
        form(method="POST" action="/cart/remove")
          button.btn.btn-outline-danger Удалить
          input(type="hidden" name="product_id" value=p.id)