doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    //- adding Bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    //- custom styling
    link(rel="stylesheet", href="/style.css")
    //- just some standard meta
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  body
    block header 
      .navbar.navbar-expand-md.navbar-light.bg-light
      
        a.navbar-brand(href="/").text-strong
          strong.import Импорт
          strong.teh Тех
          strong.servis Сервис
        
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        
        .collapse.navbar-collapse#navbar
          .nav.navbar-nav.mr-auto
            a.nav-link(href="/catalogue") Каталог
            a.nav-link(href="/warranty") Гарантия
            a.nav-link(href="/delivery") Доставка
            a.nav-link(href="/about") О нас
          .nav.navbar-nav
            a.nav-link(href="/basket")
              img(src="/icons/shopping-cart.svg").mr-2
              strong= locals.countInBasket
            a.nav-link(href="/orders")
              img(src="/icons/list.svg")
    
    
    .container
      block messages
        if locals.flashes
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .alert.alert-dismissible.fade.show.mt-2.mb-2(class=`alert-${category}` role="alert")!= message
                button.close(type='button' data-dismiss='alert' aria-label='Close')
                  span(aria-hidden='true') &times;
                
      block content
    
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    