extends layout

include mixins/_pageH1

block content
  +pageH1(title)
  
  if orders.length === 0
    p
      | Заказов пока нет... Наведайтесь в 
      a(href="/catalogue") Каталог
      |  и закажите что-нибудь ;)
  
  // pre=JSON.stringify(orders)

  each o in orders
    .row
      .col-sm-12.col-md-6
        a(href=`/orders/${o.slug}`)
          h3 № #{o.id}
        h5
          | Товаров: #{o.quantity}
          br
          | На сумму #{o.sum} грн.
      .col-sm-12.col-md-6
        h5: small #{o.lastname} #{o.firstname} #{o.patronymic}
        h5: small #{o.address}
        h5 #{o.status_name}
    hr