mixin categoryForm(category={})
  form(method="POST" enctype="multipart/form-data" action=`/admin/categories/${category.id?"edit/"+category.id:"create"}`)
    label(for="input_name") Название
    input.form-control#input_name(name="name" value=category.name required autofocus)
    .custom-file.mt-3
      input.custom-file-input#input_pic(name="pic" type="file" accept="image/*")
      label.custom-file-label(for="input_pic") Картинка
    if category.image
      img(src=`/storepictures/${category.image}`).img-fluid
      label.form-check(title="Когда файл новой картинки не выбран - старую не удалять.")
        input.form-check-input(type="checkbox" name="preserveimage" checked)
        | Не удалять картинку
    textarea.form-control#input_description(maxlength="50000" name="description")= category.description
    button.btn.btn-primary.mt-3 Отправить
  if category.id
    form(method="POST" action=`/admin/categories/delete/${category.id}`)
      button.btn.btn-danger.mt-3 Удалить категорию